<!DOCTYPE html>
<html>
<head>
    <title>
        Hello!
    </title>
</head>
<body>
    <div>
        @Html.ActionLink("Register", "Signup")
        <span></span>
        @Html.ActionLink("Log in", "Login")
    </div>
</body>
</html>
