@model EmpEditor.Models.UserModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Information</title>
</head>
<body>
    <div>
        <h4>You have successfully registered!</h4>
        <hr />
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Log in", "Login")
    </p>
</body>
</html>
